name: Build-and-publish-docker-images-workflow

on:
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  Build-and-publish-docker-images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set environment for branch
        run: |
          if [[ "${{github.base_ref}}" == "master" || "${{github.ref}}" == "refs/heads/master" ]]; then
              echo "IMAGE_TAG=latest" >> "$GITHUB_ENV"
          else
              echo "IMAGE_TAG=unstable" >> "$GITHUB_ENV"
          fi

      - name: Build and push All in One image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile
          context: .
          push: true
          tags: fraunhoferiosb/aasportal_aio:${{env.IMAGE_TAG}}

      - name: Build and push AASPortal (frontend) image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile.aas-portal
          context: .
          push: true
          tags: fraunhoferiosb/aasportal_aasportal:{{env.IMAGE_TAG}}

      - name: Build and push AASServer (backend) image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile.aas-server
          context: .
          push: true
          tags: fraunhoferiosb/aasportal_aasserver:{{env.IMAGE_TAG}}
